Boston Housing Data Project

In [11]:
import pandas as pd

df=pd.read_csv('train.csv')

Summary Data

In [12]:
df.describe()

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
count,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000
mean,250.951952,3.360341,10.689189,11.293483,0.060060,0.557144,6.265619,68.226426,3.709934,9.633634,409.279279,18.448048,359.466096,12.515435,22.768769
std,147.859438,7.352272,22.674762,6.998123,0.237956,0.114955,0.703952,28.133344,1.981123,8.742174,170.841988,2.151821,86.584567,7.067781,9.173468
min,1.000000,0.006320,0.000000,0.740000,0.000000,0.385000,3.561000,6.000000,1.129600,1.000000,188.000000,12.600000,3.500000,1.730000,5.000000
25%,123.000000,0.078960,0.000000,5.130000,0.000000,0.453000,5.884000,45.400000,2.122400,4.000000,279.000000,17.400000,376.730000,7.180000,17.400000
50%,244.000000,0.261690,0.000000,9.900000,0.000000,0.538000,6.202000,76.700000,3.092300,5.000000,330.000000,19.000000,392.050000,10.970000,21.600000
75%,377.000000,3.678220,12.500000,18.100000,0.000000,0.631000,6.595000,93.800000,5.116700,24.000000,666.000000,20.200000,396.240000,16.420000,25.000000
max,506.000000,73.534100,100.000000,27.740000,1.000000,0.871000,8.725000,100.000000,10.710300,24.000000,711.000000,21.200000,396.900000,37.970000,50.000000

Subsets for future study

For further analysis, I thought it would be interesting to use a major feature of Boston, the Charles River, to examine how whether there is a correlation between proximity to the river and home value. To complete this analysis, I will look at the chas,medv, and rad columns.

In [38]:
Charles = df['chas'] == 1
Not_Charles = df['chas'] != 1
Value = df['medv']
Work = df['dis']

Summary data for Home Value tab - (values in thousands, multiply figures by 10)

In [22]:
Value.describe()

count    333.000000
mean      22.768769
std        9.173468
min        5.000000
25%       17.400000
50%       21.600000
75%       25.000000
max       50.000000
Name: medv, dtype: float64

Summary data for Employment Centers

In [36]:
Work.describe()

count    333.000000
mean       3.709934
std        1.981123
min        1.129600
25%        2.122400
50%        3.092300
75%        5.116700
max       10.710300
Name: dis, dtype: float64

The above summary data will be revisited to compare results against measures of central tendency and dispersion. Since Charles River data is binary (1 or 0), two new dataframes will be created to analyze home values near the river versus those further away. Also, it will be worth noting how proximity to major employment centers influences home values.

In [49]:
Near_Charles = df[Charles]
Near_Charles.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 97 to 246
Data columns (total 15 columns):
ID         20 non-null int64
crim       20 non-null float64
zn         20 non-null float64
indus      20 non-null float64
chas       20 non-null int64
nox        20 non-null float64
rm         20 non-null float64
age        20 non-null float64
dis        20 non-null float64
rad        20 non-null int64
tax        20 non-null int64
ptratio    20 non-null float64
black      20 non-null float64
lstat      20 non-null float64
medv       20 non-null float64
dtypes: float64(11), int64(4)
memory usage: 2.5 KB

The summary above of homes near the Charles River includes 20 items of data.

In [50]:
Away_Charles = df[Not_Charles]
Away_Charles.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 313 entries, 0 to 332
Data columns (total 15 columns):
ID         313 non-null int64
crim       313 non-null float64
zn         313 non-null float64
indus      313 non-null float64
chas       313 non-null int64
nox        313 non-null float64
rm         313 non-null float64
age        313 non-null float64
dis        313 non-null float64
rad        313 non-null int64
tax        313 non-null int64
ptratio    313 non-null float64
black      313 non-null float64
lstat      313 non-null float64
medv       313 non-null float64
dtypes: float64(11), int64(4)
memory usage: 39.1 KB

Meanwhile, there are 313 homes that are away from the Charles River.

In [51]:
print(Near_Charles.describe())

               ID       crim         zn      indus  chas        nox  \
count   20.000000  20.000000  20.000000  20.000000  20.0  20.000000
mean   255.600000   2.163972   8.500000  12.330000   1.0   0.593595
std     75.913663   2.885734  21.830688   6.505255   0.0   0.146237
min    143.000000   0.015010   0.000000   1.210000   1.0   0.401000
25%    211.250000   0.200377   0.000000   6.200000   1.0   0.489000
50%    236.000000   0.572070   0.000000  12.240000   1.0   0.528500
75%    302.250000   3.453213   0.000000  18.100000   1.0   0.693500
max    373.000000   8.982960  90.000000  19.580000   1.0   0.871000

              rm         age        dis        rad         tax   ptratio  \
count  20.000000   20.000000  20.000000  20.000000   20.000000  20.00000
mean    6.577750   75.815000   3.069540   9.900000  394.550000  17.38500
std     0.814341   22.808638   1.343724   8.534142  171.795005   2.22906
min     5.403000   24.800000   1.129600   1.000000  198.000000  13.60000
25%     6.111250   58.325000   2.041250   4.750000  276.750000  14.85000
50%     6.322500   86.000000   3.080050   5.000000  307.000000  17.40000
75%     6.913250   92.925000   4.095200  12.000000  468.750000  19.00000
max     8.375000  100.000000   5.885000  24.000000  666.000000  20.20000

            black      lstat       medv
count   20.000000  20.000000  20.000000
mean   380.681000  11.118000  30.175000
std     21.661541   7.198281  12.362204
min    321.020000   2.960000  13.400000
25%    377.565000   5.007500  21.700000
50%    390.580000   9.735000  26.050000
75%    395.240000  14.775000  37.900000
max    396.900000  26.820000  50.000000

Based on the analysis above, homes near the Charles River have a median home value of $260,500.

In [53]:
print(Away_Charles.describe())

               ID        crim          zn       indus   chas         nox  \
count  313.000000  313.000000  313.000000  313.000000  313.0  313.000000
mean   250.654952    3.436787   10.829073   11.227252    0.0    0.554815
std    151.365227    7.544289   22.754198    7.032974    0.0    0.112555
min      1.000000    0.006320    0.000000    0.740000    0.0    0.385000
25%    118.000000    0.078750    0.000000    4.950000    0.0    0.453000
50%    245.000000    0.245220    0.000000    9.690000    0.0    0.538000
75%    387.000000    3.678220   12.500000   18.100000    0.0    0.624000
max    506.000000   73.534100  100.000000   27.740000    0.0    0.871000

               rm         age         dis         rad         tax     ptratio  \
count  313.000000  313.000000  313.000000  313.000000  313.000000  313.000000
mean     6.245674   67.741534    3.750853    9.616613  410.220447   18.515974
std      0.693026   28.400933    2.009606    8.768386  171.014186    2.132487
min      3.561000    6.000000    1.137000    1.000000  188.000000   12.600000
25%      5.879000   43.700000    2.132900    4.000000  281.000000   17.400000
50%      6.185000   76.500000    3.092300    5.000000  330.000000   19.100000
75%      6.563000   93.800000    5.214600   24.000000  666.000000   20.200000
max      8.725000  100.000000   10.710300   24.000000  711.000000   21.200000

            black       lstat        medv
count  313.000000  313.000000  313.000000
mean   358.110511   12.604728   22.295527
std     88.984202    7.061663    8.746397
min      3.500000    1.730000    5.000000
25%    376.700000    7.220000   17.200000
50%    392.230000   11.220000   21.200000
75%    396.330000   16.440000   24.700000
max    396.900000   37.970000   50.000000

Based on the analysis above, homes away from the Charles River have a median value of $212,000. Finally, by analyzing the correlation coefficient, we can firmly state whether being near the Charles River has a statistically significant impact on home values in Boston.

In [54]:
df.corr()

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
ID,1.000000,0.456312,-0.155639,0.421978,0.007958,0.440185,-0.112790,0.257300,-0.356461,0.707526,0.686246,0.309838,-0.271619,0.281953,-0.221694
crim,0.456312,1.000000,-0.210913,0.422228,-0.041195,0.463001,-0.310180,0.379034,-0.397067,0.666636,0.617081,0.313409,-0.475796,0.532077,-0.407454
zn,-0.155639,-0.210913,1.000000,-0.518679,-0.024442,-0.501990,0.328197,-0.544513,0.637142,-0.303663,-0.311180,-0.380449,0.168130,-0.388112,0.344842
indus,0.421978,0.422228,-0.518679,1.000000,0.037496,0.750087,-0.440365,0.638378,-0.702327,0.569779,0.708313,0.391087,-0.335049,0.614155,-0.473932
chas,0.007958,-0.041195,-0.024442,0.037496,1.000000,0.080275,0.112251,0.068286,-0.081834,0.007714,-0.021826,-0.125067,0.062029,-0.050055,0.204390
nox,0.440185,0.463001,-0.501990,0.750087,0.080275,1.000000,-0.338515,0.736000,-0.769364,0.612180,0.670722,0.192513,-0.369416,0.598874,-0.413054
rm,-0.112790,-0.310180,0.328197,-0.440365,0.112251,-0.338515,1.000000,-0.248573,0.269191,-0.272783,-0.356987,-0.366927,0.155202,-0.615747,0.689598
age,0.257300,0.379034,-0.544513,0.638378,0.068286,0.736000,-0.248573,1.000000,-0.764208,0.447380,0.511893,0.259293,-0.268054,0.588834,-0.358888
dis,-0.356461,-0.397067,0.637142,-0.702327,-0.081834,-0.769364,0.269191,-0.764208,1.000000,-0.477610,-0.529539,-0.231101,0.284374,-0.505939,0.249422
rad,0.707526,0.666636,-0.303663,0.569779,0.007714,0.612180,-0.272783,0.447380,-0.477610,1.000000,0.903562,0.470849,-0.406405,0.484568,-0.352251
tax,0.686246,0.617081,-0.311180,0.708313,-0.021826,0.670722,-0.356987,0.511893,-0.529539,0.903562,1.000000,0.467437,-0.406477,0.544485,-0.448078
ptratio,0.309838,0.313409,-0.380449,0.391087,-0.125067,0.192513,-0.366927,0.259293,-0.231101,0.470849,0.467437,1.000000,-0.164614,0.374802,-0.481376
black,-0.271619,-0.475796,0.168130,-0.335049,0.062029,-0.369416,0.155202,-0.268054,0.284374,-0.406405,-0.406477,-0.164614,1.000000,-0.356693,0.336660
lstat,0.281953,0.532077,-0.388112,0.614155,-0.050055,0.598874,-0.615747,0.588834,-0.505939,0.484568,0.544485,0.374802,-0.356693,1.000000,-0.738600
medv,-0.221694,-0.407454,0.344842,-0.473932,0.204390,-0.413054,0.689598,-0.358888,0.249422,-0.352251,-0.448078,-0.481376,0.336660,-0.738600,1.000000

With a correlation coefficient of .20, there is a positive correlation between proximity to the Charles River and a home's value in Boston. Additionally, the correlation coefficient of .25 has a more positive relationship to home value. This would suggest that a home's value will more likely be greater based on its proximity to employment than the Charles River. However, the hard data that shows a median home value of $260k for homes near the Charles River is much larger than the $212k median value of homes away from the Charles River.

An inference can be made that while homes near the Charles River are more valuable, future home value appreciation will be driven more by proximity to employment than it is the famous Charles River. This finding is inline with more individuals preferring not to have long commutes to work.

Crime Data Split

Based on the correlation table above, the prediction that homes near the Charles River enjoy a lower rate of crime per capita than those that are further away. Additionally, the data supports the widely-held belief that as crime increases, the value of homes decreases. To filter the crime data, two dataframes can be created that detail home values in high crime areas versus low crime ones. High crime areas have per capita rates higher than the median of .26 and low crime areas will have a median below .26

In [58]:
High = df['crim'] >=.26
Low = df['crim'] <= .26

In [59]:
High_Crime = df[High]
Low_Crime = df[Low]

In [60]:
High_Crime.describe()

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
count,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000
mean,309.532934,6.606155,1.221557,15.311138,0.083832,0.638701,6.132826,85.205988,2.522406,15.095808,512.335329,18.919162,330.400419,15.731976,20.646108
std,142.203900,9.319135,4.858729,5.459720,0.277970,0.098771,0.818125,18.417205,1.092195,9.480629,167.805991,2.373750,112.086371,7.659014,10.396656
min,14.000000,0.261690,0.000000,3.970000,0.000000,0.431000,3.561000,8.400000,1.129600,2.000000,188.000000,13.000000,3.500000,1.730000,5.000000
25%,170.500000,0.788055,0.000000,9.900000,0.000000,0.544000,5.758000,80.100000,1.776050,5.000000,307.000000,17.400000,336.660000,10.325000,13.850000
50%,363.000000,3.678220,0.000000,18.100000,0.000000,0.631000,6.112000,91.700000,2.262500,24.000000,666.000000,20.200000,384.070000,14.980000,19.000000
75%,434.500000,9.084990,0.000000,18.100000,0.000000,0.706500,6.432500,97.300000,3.005700,24.000000,666.000000,20.200000,395.285000,20.330000,23.150000
max,498.000000,73.534100,22.000000,25.650000,1.000000,0.871000,8.725000,100.000000,8.906700,24.000000,666.000000,21.200000,396.900000,37.970000,50.000000

In [61]:
Low_Crime.describe()

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
count,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000
mean,192.018072,0.094975,20.213855,7.251627,0.036145,0.475096,6.399211,51.144578,4.904615,4.138554,305.602410,17.974096,388.706867,9.279518,24.904217
std,129.142321,0.064579,28.788535,5.981559,0.187215,0.057182,0.536576,25.806134,1.958040,1.665721,93.994254,1.788107,27.016500,4.526629,7.171571
min,1.000000,0.006320,0.000000,0.740000,0.000000,0.385000,5.093000,6.000000,1.668600,1.000000,188.000000,12.600000,70.800000,1.980000,8.100000
25%,81.250000,0.044783,0.000000,3.380000,0.000000,0.431500,6.005250,31.600000,3.117150,3.000000,242.250000,16.600000,390.445000,5.780000,20.300000
50%,181.500000,0.078855,0.000000,5.255000,0.000000,0.458000,6.315500,48.550000,5.108550,4.000000,286.000000,18.200000,394.045000,8.595000,23.350000
75%,290.500000,0.140010,30.000000,9.407500,0.000000,0.515000,6.727000,72.350000,6.332075,5.000000,343.000000,19.100000,396.900000,11.852500,28.075000
max,506.000000,0.259150,100.000000,27.740000,1.000000,0.624000,8.034000,98.800000,10.710300,8.000000,711.000000,21.200000,396.900000,29.680000,50.000000

The median home value for homes in low crime areas is $233,500 versus $190,000 in high crime areas which supports the hypothesis made earlier.

Quality Schools affect on Home Value

Another widely accepted belief is that better quality schools leads to higher home values. The median pupil to teacher ratio in the entire data set is 19 students per 1 teacher. High-quality schools will have a ratio below 19 and low quality schools will have a ratio above 19.

In [65]:
Good = df['ptratio'] < 19
Bad = df['ptratio'] > 19
Good_Schools = df[Good]
Bad_Schools = df[Bad]

In [66]:
print(Good_Schools.describe())

               ID        crim          zn       indus        chas         nox  \
count  165.000000  165.000000  165.000000  165.000000  165.000000  165.000000
mean   185.345455    0.421422   17.912121    7.531879    0.090909    0.510891
std     95.208222    0.702474   27.939064    5.618213    0.288355    0.111526
min      1.000000    0.006320    0.000000    0.740000    0.000000    0.385000
25%     97.000000    0.053720    0.000000    3.410000    0.000000    0.437000
50%    188.000000    0.102900    0.000000    6.090000    0.000000    0.488000
75%    266.000000    0.407710   28.000000   10.010000    0.000000    0.544000
max    353.000000    3.321050  100.000000   19.580000    1.000000    0.871000

               rm         age         dis         rad         tax     ptratio  \
count  165.000000  165.000000  165.000000  165.000000  165.000000  165.000000
mean     6.514739   58.066667    4.341350    4.496970  307.533333   16.676970
std      0.718158   27.029506    1.951408    1.698723   68.328790    1.663878
min      4.926000    6.000000    1.321600    1.000000  193.000000   12.600000
25%      6.021000   33.300000    2.759200    3.000000  256.000000   15.200000
50%      6.383000   58.700000    3.945400    5.000000  300.000000   17.400000
75%      6.968000   82.600000    5.732100    5.000000  370.000000   17.900000
max      8.725000  100.000000   10.710300    8.000000  432.000000   18.900000

            black       lstat       medv
count  165.000000  165.000000  165.00000
mean   381.083212    9.404485   27.02000
std     37.782958    5.383308    8.80485
min     88.630000    1.730000   13.10000
25%    384.070000    5.500000   21.20000
50%    392.780000    8.580000   24.00000
75%    395.930000   11.500000   32.00000
max    396.900000   29.550000   50.00000

In [67]:
print(Bad_Schools.describe())

               ID        crim          zn       indus        chas         nox  \
count  165.000000  165.000000  165.000000  165.000000  165.000000  165.000000
mean   319.624242    6.359623    3.206061   15.172061    0.030303    0.605782
std    159.994449    9.539114   12.151732    6.119595    0.171942    0.097295
min     14.000000    0.013600    0.000000    1.250000    0.000000    0.410000
25%    137.000000    0.195390    0.000000    8.560000    0.000000    0.538000
50%    378.000000    3.693110    0.000000   18.100000    0.000000    0.609000
75%    449.000000    9.187020    0.000000   18.100000    0.000000    0.693000
max    506.000000   73.534100   80.000000   27.740000    1.000000    0.770000

               rm         age         dis         rad         tax     ptratio  \
count  165.000000  165.000000  165.000000  165.000000  165.000000  165.000000
mean     6.012158   78.713939    3.047776   14.872727  513.357576   20.209091
std      0.598530   25.435490    1.800804    9.853292  181.114064    0.568783
min      3.561000    6.200000    1.129600    1.000000  188.000000   19.100000
25%      5.794000   70.600000    1.849800    4.000000  307.000000   20.200000
50%      6.072000   89.900000    2.368200   24.000000  666.000000   20.200000
75%      6.398000   97.100000    3.796500   24.000000  666.000000   20.200000
max      8.259000  100.000000    8.906700   24.000000  711.000000   21.200000

            black       lstat        medv
count  165.000000  165.000000  165.000000
mean   337.214000   15.732606   18.478182
std    112.952665    7.166102    7.480161
min      3.500000    2.960000    5.000000
25%    359.290000   10.260000   13.800000
50%    390.180000   14.800000   18.400000
75%    396.900000   19.690000   21.800000
max    396.900000   37.970000   50.000000

As hypothesized, schools with higher pupil-teacher ratios have median home values of $184,000 while those with lower pupil-teacher ratios have a median home value of $240,000.